<section class="firstView d-flex flex-column align-items-center justify-content-center">
  <h1>Nom du Projet</h1>
  <q>Créateur de lien</q>
</section>

<section class="fonctionality">
  <h2 class="p-5 text-center">Les fonctionnalités</h2>

  <div class="d-flex align-items-center justify-content-between containerFonctionality ">
    <div class=" logoText1 d-flex flex-column justify-content-strart pl-5 ">

      <p class="mb-5 text-center">
        <img src="../../../../assets/home/sprout.png" alt="" class="imgFonctionality" /><span
          class="font-weight-bold">Collaboratif</span> <br>
        Partagez vos bonnes adresses avec toute la communauté.

      </p>
      <p class="text-center">
        <img src="../../../../assets/home/sprout.png" alt="" class="imgFonctionality" /><span
          class="font-weight-bold">Intuitif</span> <br>
        Vous savez précisément ce que vous cherchez ? Faites une recherche par catégorie.
      </p>
    </div>

    <div class=" logoText2 d-flex flex-column mr-5">
      <p class="text-center mb-5">
        <img src="../../../../assets/home/sprout.png" alt="" class="imgFonctionality" /><span
          class="font-weight-bold">Envie de sortir ?</span> <br>
        Profitez des différents événements prévus près de chez vous.
      </p>
      <p class="text-center mb-5">
        <img src="../../../../assets/home/sprout.png" alt="" class="imgFonctionality" /><span
          class="font-weight-bold">Consommons mieux !</span> <br>
        Vous cherchez un magasin bio, des produits équitables ? On vous donne nos bons plans.
      </p>
      <p class="text-center mb-5">
        <img src="../../../../assets/home/sprout.png" alt="" class="imgFonctionality" /><span
          class="font-weight-bold">Simple</span> <br>
        Envie de flâner sur la carte pour connaître les acteurs engagés écologiquement et socialement près de chez vous
        ? C’est tout à fait possible.
      </p>

    </div>
  </div>
</section>

<section class="events d-flex justify-content-center align-items-center">
  <div class="containerEvents"></div>
</section>

<section class="icons">
  <h2 class="p-3 text-center">Les icones</h2>
  <div class="d-flex justify-content-between align-items-center">
    <img src="../../../../assets/home/carte.png" alt="" class="imgMap" />

    <div class="d-flex flex-column align-items-start justify-content-center containerIcon">
      <div class="d-flex p-2 justify-content-center align-items-center">
        <img src="../../../../assets/home/icons8-nourriture-végétarienne-50.png" alt="" class="p-3" />
        <p>Alimentation</p>
      </div>

      <div class="d-flex p-2 justify-content-center align-items-center">
        <img src="../../../../assets/home/icons8-cintre-64.png" alt="" class="p-3" />
        <p>Textile</p>
      </div>

      <div class="d-flex p-2 justify-content-center align-items-center">
        <img src="../../../../assets/home/icons8-planté-à-la-main-64.png" alt="" class="p-3" />
        <p>Jardin Collaboratif</p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>