.firstView {
  background: url('../../../../assets/home/homeImg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

/** section fonctionnalité **/
.fonctionality {
  background: url('../../../../assets/home/arbre.png') no-repeat;
  background-size: 50%;
  background-position: bottom;
  height: 100vh;
}

.imgFonctionality {
  width: 15%;
  padding: 2%;
}

.containerFonctionality {
  width: 100%;
  height: 85%;
}

.logoText1 {
  font-size: 1.5em;
}

.logoText2 {
  padding-left: 50%;
  font-size: 1.5em;
}

/** section event à importer **/
.events {
  height: 100vh;
  background-color: #4caf50;
}

/** section icone **/
.icons {
  height: 100vh;
}

.imgMap {
  width: 50%;
}

.containerIcon {
  width: 40%;
}
