@import "../../../../styles.scss";
.firstView {
  background: url('../../../../assets/home/homeImg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.projectTitle{
  color: #2c2b2b;
  font-size: 4em;
  margin-bottom: 0.2em;
}

.quote{
  font-size: 1.5em;
}

/** section fonctionnalité **/
.fonctionality {
  background: url('../../../../assets/home/arbre.png') no-repeat;
  background-size: 35%;
  background-position: bottom;
  height: 100vh;
}

.imgFonctionality {
  width: 15%;
  padding: 2%;
}

.containerFonctionality {
  width: 100%;
  height: 70%;
}

.logoText1 {
  width: 25%;
  margin: 0 2%;
  font-size: 1em;

}

.logoText2 {
  margin: 0 2%;
  width: 25%;
  font-size: 1em;
}
/** section event à importer **/
.events {
  height: 100vh;
  width: 100%;
  background-color: $color-green-dark;
}


/** section icone **/

// .icons {
//   height: 100vh;
// }

.imgMap {
  width: 40%;
}

.containerIcon {
  width: 40%;
}

.imgIconAlim{
  width: 25%;
}

.imgIconJardin{
  width: 30%;
}

.imgIconcollectif{
  width: 13%
}

.imgIconarti{
  width: 15%;
}

.imgIcons{
  width: 15%;
}
