<div class="page">

        <section class="actorCard d-flex justify-content-center align-items-center">

                <div class="cardContainer d-flex justify-content-start align-items-center">

                    <div class="cardInfo overflow-hidden d-flex flex-column align-items-center justify-items-center">
                        <div class="cardHeader text-center">
                            <img class="imgActor" src="{{actor.image}}" alt="">
                        </div>
                        <div class="cardBody">
                            <h4 class="text-center pt-4 mt-5">{{actor.name}}</h4>
                            <div class="userInfo d-flex flex-column align-items-start justify-content-center p-5 p-4">
                                    <div class="header-bottom">
                                        <div class="categories" *ngFor="let category of actor.Categories" >
                                            <p class="categories-names">{{ category.name }}</p>
                                        </div>  
                                    </div>

                                    <div class="content">
                                        <p class="card-text description">{{actor.description}}</p>
                                    </div>
                            </div>
                            <div class="card-footer text-muted text-center bg-transparent">
                                    <div class="buttons_google text-center">
                                        <!-- Facebook -->
                                        <a type="button" class="btn-floating"><i class="fab fa-facebook-f"></i></a>
                                        <!-- Twitter -->
                                        <a type="button" class="btn-floating"><i class="fab fa-twitter"></i></a>
                                        <!-- Google + -->
                                        <a type="button" class="btn-floating"><i class="fab fa-google-plus-g"></i></a>
                                    </div>                                    
                                </div>
                        </div>
                    </div>
            
                    <div class="rightContent d-flex align-items-start ">
            
                        <div class="horaires">
                            <div class="d-flex justify-content-start align-items-center actorHeader">
                                <img class="icon" src="../../../../assets/icones/actor_details_map.png" alt="">
                                <img class="icon" src="../../../../assets/icones/actor_details_horaires.png" alt="">
                                <h6>Horaires et autres infos</h6>
                            </div>
                            
                            <div class="horaires_list">
                                <div class="horaires_list_infos_container">
                                    <div class="horaires_list_infos">
                                        <div class="bulle_section actor_adress">
                                            <i class="far fa-address-card"></i>
                                                <div class="bulle actor_adress_bulle">
                                                    <p>Adresse : {{actor.adress}}</p>
                                                    <p>Ville : {{actor.city}}</p>
                                                    <p>Code postal : {{actor.cp}}</p>
                                                    <p>Pays : {{actor.country}}</p>
                                                </div>
                                        </div>
                                        <div class="bulle_section actor_website">
                                            <i class="fas fa-external-link-alt"></i>
                                                <div class="bulle actor_website_bulle">    
                                                    <a href="{{actor.website}}">{{actor.website}}</a>
                                                </div>
                                            
                                        </div>
                                        <div class="bulle_section actor_phone">
                                            <i class="fas fa-mobile-alt"></i>
                                                <div class="bulle actor_phone_bulle">
                                                    <p>{{actor.telephonnumber}}</p>
                                                </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                <div class="horaires_list_horaires_container">
                                    <div class="horaires_list_horaires">
                                        <div class="bulle_section horaires">
                                            <i class="far fa-clock"></i>
                                                <div class="bulle horaire_bulle">
                                                    <p>{{actor.openhours}}</p>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="comments_list">
                                <div class="d-flex justify-content-start align-items-center favHeader">
                                    <img class="icon" src="../../../../assets/icones/actor_details_commentaires.png" alt="">
                                    <h6>Commentaires</h6>
                                </div>
                                <div class="comments">
                                        <div class="comment" id="{{comment.id}}" *ngFor="let comment of actor.Comments">
                                            
                                            <h6>{{comment.userId}} :</h6>
                                            <p>{{comment.content}}</p>
                                        </div>
                                </div>
                            </div>
                    </div>
                    <!-- <div class="d-flex justify-content-end">
                            <img class="actorUpdate" src="../../../../assets/profile/icone_modifuser.png" alt="">
                        </div> -->
                </div>
            </section>

</div>
