@import "../../../../../styles.scss";

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.card {
    top: 120px;
    margin-bottom: 2%;
    margin-right: 15px;
    margin-left: 15px;
}

.card-header {
    background-color: $color-green-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}