<body>
    <section class="navigation-actor">
        <app-return-list></app-return-list>
        <app-return-map></app-return-map>
    </section>

    <section class="card_NgForOf" *ngFor="let actor of actorList;">
        <div class="card">
            <div class="card-header">
                <div class="title">
                    <h5 class="card-title h5">{{actor.name}}</h5>
                        <p>{{actor.categories.name}}</p>
                </div>
                <div class="header_button">

                </div>
                
                <div>
                    <app-favoris></app-favoris>
                </div>
            </div>
    
            <div class="card-body">
                <!-- <p class="card-text">{{actor.categories}}</p> -->
                <p class="card-text">{{actor.description}}</p>
            </div>
        </div>
    </section>
    

    
</body>