<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ActorList</title>
</head>

<body>
    <div class="card">
        <h5 class="card-header h5">{{actor.name}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{actor.categories}}</h5>
            <p class="card-text">{{actor.description}}</p>
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nam, animi optio itaque voluptates numquam laudantium beatae, odit, quasi perferendis recusandae! Nam mollitia voluptates unde quas velit quasi magnam laboriosam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique commodi aperiam earum quidem incidunt pariatur doloremque unde voluptatibus maiores assumenda possimus inventore porro ex eligendi accusamus perferendis, culpa labore quaerat.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nam, animi optio itaque voluptates numquam laudantium beatae, odit, quasi perferendis recusandae! Nam mollitia voluptates unde quas velit quasi magnam laboriosam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique commodi aperiam earum quidem incidunt pariatur doloremque unde voluptatibus maiores assumenda possimus inventore porro ex eligendi accusamus perferendis, culpa labore quaerat.</p>
</body>

</html>