body {
    background-color: rgb(227, 255, 184);
    margin: 0px;
    padding: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.card {
    top: 120px;
    margin-bottom: 2%;
    margin-right: 15px;
    margin-left: 15px;
}