<section class="profile d-flex justify-content-center align-items-center">
    <div class="cardContainer  d-flex justify-content-start align-items-center">
        <div class="cardInfo overflow-hidden d-flex flex-column align-items-center justify-items-center">
            <div class="cardHeader text-center">
                <img class="imgUser" src="../../../../assets/profile/myAvatar.png" alt="">
            </div>
            <div class="cardBody">
                <h4 class="text-center pt-4 mt-5">Pseudo</h4>
                <div class="userInfo d-flex flex-column align-items-start justify-content-center pl-5 pt-4">
                    <p>Nom Prénom :</p>
                    <p>Date de naissance :</p>
                    <p>Adresse postale :</p>
                    <p class="mb-4">Adresse Mail :</p>

                    <div class="d-flex justify-content-end">
                        <img class="userUpdate" src="../../../../assets/profile/icone_modifuser.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="rightContent d-flex flex-column align-items-start justify-content-center ">

            <div class="fav">
                <div class="d-flex justify-content-start align-items-center favHeader">
                    <img class="icon" src="../../../../assets/profile/icone_favoris.png" alt="">
                    <h6>Favoris</h6>
                </div>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>

            <div class="addActor">
                <div class="d-flex justify-content-start align-items-center actorHeader">
                    <img class="icon" src="../../../../assets/profile/icone_ajoutacteur.png" alt="">
                    <h6>Ajouter un acteur</h6>
                </div>
                <p>En ajoutant de nouveaux vous participez activement au développement de notre bases de
                    données. C’est
                    en partageant nos bonnes adresses que nous pourrons tous mieux consommer </p>

            </div>
        </div>
    </div>

</section>