<section class="profile d-flex justify-content-center align-items-center">
    <div class="cardContainer  d-flex justify-content-start align-items-center">
        <div class="cardInfo overflow-hidden d-flex flex-column align-items-center justify-items-center">
            <div class="cardHeader text-center">
                <img class="imgUser" src="../../../../assets/profile/myAvatar.png" alt="">
            </div>
            <div class="cardBody">
                <h4 class="text-center pt-4 mt-5">{{ this.currentUser.pseudo }}</h4>
                <ul
                    class="userInfo d-flex flex-column align-items-start justify-content-center pl-4 pt-4 list-group list-group-flush">
                    <li class="list-group-item"> <span>Nom Prénom : </span> {{ this.currentUser.lastname }}
                        {{ this.currentUser.firstname }} </li>
                    <li class="list-group-item"> <span>Date de naissance : </span>
                        {{ this.currentUser.birthdate | date: 'dd/MM/yyyy' }}</li>
                    <li class="list-group-item"> <span>Adresse postale : </span>
                        {{ this.currentUser.adress + ' '+ this.currentUser.cp + ' '+ this.currentUser.city }}</li>
                    <li class="mb-4" class="list-group-item"> <span> Adresse Mail : </span> {{ this.currentUser.email }}
                    </li>

                    <div class="d-flex justify-content-end">
                        <img class="userUpdate img-fluid" src="../../../../assets/profile/icone_modifuser.png" alt="">
                    </div>
                </ul>
            </div>
        </div>

        <div class="rightContent d-flex flex-column align-items-start justify-content-center ">

            <div class="fav">
                <div class="d-flex justify-content-start align-items-center pl-2 favHeader">
                    <img class="icon" src="../../../../assets/profile/icone_favoris.png" alt="">
                    <h6 class="pt-2">Favoris</h6>
                </div>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let favori of favoris">{{ favori.Actor.name }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="addActor">
                <div class="d-flex justify-content-start align-items-center pl-2 actorHeader">
                    <img class="icon" src="../../../../assets/profile/icone_ajoutacteur.png" alt="">
                    <h6 class="pt-2">Ajouter un acteur</h6>
                </div>
                <p>En ajoutant de nouveaux acteurs vous participez activement au développement de notre bases de
                    données. C’est
                    en partageant nos bonnes adresses que nous pourrons tous mieux consommer </p>

            </div>
        </div>
    </div>

</section>