@import "../../../../styles.scss";

.containerSidenavMap {
  position: relative;
  height: 100vh;
  padding: 3.8% 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: whitesmoke;
  align-items: center;
}

.sidenav {
  height: 100%;
  width: 20%;
  align-self: flex-start;
}
::ng-deep .map {
  position: relative !important;
  z-index: 1 !important;
  height: 95%;
  width: 80%;
  margin: 1%;
  border-radius: 20px;
}
