.sidenav {
  height: 100vh;
}

.topSidenav {
  height: 20%;
  background-color: #fff;
}

.formSidenav {
  background-color: #4caf50;
  height: 100%;
}

.searchBar {
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: 15% 15% 10% 15%;

}

hr {

  background-color: #fff;
  margin: 3% 10% 0 10%;
}

.checkbox {
  margin-top: 20%;
  margin-left: 30%;
}

img {
  width: 50%;
  padding-left: 10%;
}

.submitButton {
  margin-top: 15%;
  border: none;
  border-radius: 10px;
  background-color: #fff;
}

.bottomSidenav {
  height: 8%;
  background-color: #fff;
}
