<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav d-flex flex-column justify-content-center align-items-stretch fixed sidenav">

  <div class="topSidenav"></div>

  <form action="#" class="formSidenav">

    <input type="text" placeholder="search" class="searchBar">

    <hr>

    <div class="checkbox d-flex flex-column justify-content-center align-items-start">

      <div class="d-flex justify-content-center align-items-center">
        <input type="checkbox" name="Alimentation" id="">
        <label for="Alimentation"><img src="../../../../assets/home/icons8-nourriture-végétarienne-50.png"
            alt=""></label>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <input type="checkbox" name="Textile" id="">
        <label for="Textile"><img src="../../../../assets/home/icons8-cintre-64.png" alt=""></label>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <input type="checkbox" name="Jardin-collaboratif" id="">
        <label for="Jardin-collaboratif"> <img src="../../../../assets/home/icons8-planté-à-la-main-64.png"
            alt=""></label>
      </div>

      <button class="submitButton">Submit</button>

    </div>

  </form>

  <div class="bottomSidenav"></div>

</div>
<!--/. Sidebar navigation -->
