.footer {
  height: 80vh;
  width: auto;
  background: url(../../../../assets/home/footerfeuille.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  color: white;
  padding-right: 5%;
  font-size: 1.3em;
}
