.footer {
  height: 100vh;
  width: auto;
  background: url(../../../../assets/home/footerfeuille.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  color: white;
  padding-right: 3%;
}
