@import "../../../../styles.scss" ;

p{
    margin-bottom:0.5em;
}

.allEvent{
    width: 100%;
    height: 65%;
}

.containerCard{
    width: 30%;
    height: 100%;
    background-color: #fff;
    border-radius:10px;
    overflow: hidden;
}

.cardTop{
    width: 100%;
    height: 40%;
}   

.imgEvent{
    width: 100%;
    height: 100%;
}
.card-separator {
    width: 100%;
    height: 0.3px;
    opacity: 0.5;
    margin: 10px 0 10px 0;
    background-color: $color-green-dark;

  }

.card-content{
    width: 100%;
    height: 100%
}

.addEvent{
    width: 15%;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    background: #fff;
    color: $color-green-dark;
    border-radius: 40px;
    cursor: pointer;
    
}
