/* You can add global styles to this file, and also import other style files */

$color-green-light: rgb(227, 255, 184);
$color-green-light-with-opacity: rgba(227, 255, 184, 0.8);
$color-green-dark: blue;
$color-white: white;
///////////////////////////////////////////////////////////////////////////////////////////////
///                                        TEMPLATE                                        ////
///////////////////////////////////////////////////////////////////////////////////////////////
h1 {}

h2 {}

h3 {}

h4 {}

h5 {}