/* You can add global styles to this file, and also import other style files */


$color-green-light: rgb(227, 255, 184);
$color-green-light-with-opacity: rgba(227, 255, 184, 0.8);
$color-green-dark: rgba(100, 192, 5, 1);
$color-green-dark-opacity: #c1ee8c ;
$color-white: white;

body {
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
///////////////////////////////////////////////////////////////////////////////////////////////
///                                        TEMPLATE                                        ////
///////////////////////////////////////////////////////////////////////////////////////////////

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}