<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-xl navbar-light intro-fixed-nav" class="navCss" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#"></a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <div class="navbar-nav mr-auto collapseCss">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item ">
                    <a class="font-weight-bold nav-link text-dark active " mdbWavesEffect>Home</a>
                </li>
                <li class="nav-item ">
                    <a class="font-weight-bold nav-link text-dark " mdbWavesEffect>Profil</a>
                </li>
                <li class="nav-item ">
                    <a class="font-weight-bold nav-link text-dark" mdbWavesEffect>Carte</a>
                </li>
                <li class="nav-item ">
                    <a class="font-weight-bold nav-link text-dark" mdbWavesEffect>La liste des acteurs</a>
                </li>
                <li class="nav-item ">
                    <a class="font-weight-bold nav-link text-dark" mdbWavesEffect>Ajout d'un acteur</a>
                </li>
                <li class="nav-item ">
                    <a class="font-weight-bold nav-link text-dark" mdbWavesEffect>Effectuer une recherche</a>
                </li>
                <li class="nav-item ">
                    <a class="font-weight-bold nav-link text-dark" mdbWavesEffect>Events</a>
                </li>
                <li class="nav-item ">
                    <a class="font-weight-bold nav-link text-dark" mdbWavesEffect>Nous concernant</a>
                </li>
                <li class="nav-item ">
                    <a class="font-weight-bold nav-link text-dark" mdbWavesEffect>Charte</a>
                </li>
                <li class="nav-item ">
                    <a class="font-weight-bold nav-link text-dark" mdbWavesEffect>Mentions Légales</a>
                </li>
            </ul>
        </div>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->