/* Navigation*/

::ng-deep .navCss nav {
    // margin: 0;
    // padding: 0;
    background-color: rgba(227, 255, 184, 0.8);
}

.navbar {
    margin: 0;
    padding: 0;
}

::ng-deep .collapseCss {
    color: black;
    background-color: #E3FFB8;
}