<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-xl navbar-light intro-fixed-nav" class="navCss"
  [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"> <img src="../../../../assets/home/favicon-32.png" alt=""
        class="w-90 imgLogo">
      NomDuProjet</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/map']">
          <mdb-icon fas icon="map-marker-alt"></mdb-icon>La carte<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="plus-circle"></mdb-icon>Ajout Acteur
        </a>
      </li>
      <li class="nav-item ">
        <a class=" nav-link text-dark" mdbWavesEffect>
          <mdb-icon fas icon="list"></mdb-icon>La liste des acteurs
        </a>
      </li>
      <li class="nav-item ">
        <a class=" nav-link text-dark" mdbWavesEffect>
          <mdb-icon fas icon="search"></mdb-icon>Effectuer une
          recherche
        </a>
      </li>
      <li class="nav-item ">
        <a class=" nav-link text-dark" mdbWavesEffect>
          <mdb-icon fas icon="calendar-alt"></mdb-icon> Events
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon>
          Profil
        </a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
