<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-xl navbar-dark" [containerInside]="true">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#"></a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links id="collapse">

        <!-- Links -->
        <div class="navbar-nav mr-auto full-height">
            <ul class="navbar-nav mr-auto full-height">
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Carte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>La liste des acteurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Ajout d'un acteur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Effectuer une recherche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Nous concernant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Charte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Mentions Légales</a>
                </li>
            </ul>

        </div>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->