@import "../../../../../styles.scss";
.login {
    height: 100vh;
    background-color: $color-green-dark-opacity;
    background-size: 80%;
  }
  
.containerForm {
width: 60%;
height: 70%;
}

.containerImg {
background-color: $color-green-dark;
border-radius: 10px 0px 0px 10px;
height: 90%;
width: 45%;
}

.imgUser {
width: 75%;
height: auto;
padding: 5%;
margin: 0%;
}

.form {
width: 55%;
height: 100%;
background-color: #fff;
border: $color-green-dark 2px solid;
box-shadow: 10px 10px 5px 0px rgba($color-green-dark, 0.5);
border-radius: 10px;
overflow: hidden;
}
  
.loginTitle {
height: 15%;
width: 100%;
margin: 0%;
padding: 0%;
color: $color-green-dark;
}

//input
i {
color: $color-green-dark;
}

input{
    width: 60%;
    border-radius: 15px;
    border: 1px solid #b7b7b7;
}

input:focus:not([readonly]) {
    border: 1px solid $color-green-dark;
    color: #fff;
    box-shadow: 3px 2px 2px #b7b7b7;
}

::placeholder {
text-align: center;
opacity: 0.5;
color: $color-green-dark;
}

//btn submit

.submitBtn {
width: 30%;
line-height: 1;
letter-spacing: 1px;
padding: 2%;
border: 2px solid $color-green-dark;
background: #fff;
color: $color-green-dark;
border-radius: 40px;
cursor: pointer;
overflow: hidden;
}

.submitBtn:hover {
background: $color-green-dark;
color: #fff;
box-shadow: 5px 0px 10px 0px  #b7b7b7;
}